<%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
              html: { method: :delete }, remote: true) do |f| %>
  <%# <%= f.submit "Unfollow", class: "btn" %> 
  <button type="submit" class="button_my blue wider for_following" >
    
    Unfollow
  </button>
<% end %>