@import "bootstrap-sprockets";
@import "bootstrap";

/* примеси, переменные и пр.*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* основное */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* шрифты */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    & a:hover {
        color: #222;
    }
  }
  small {
  float: left;
  }
  ul {
   float: right;
   list-style: none;
   li {
    float: left;
    margin-left: 15px;
   }
  } 
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float:none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* разное */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* боковая панель */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* формы */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
@include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -5px;
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Список пользователей */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 2px solid $gray-lighter;
  }
}

/* микросообщения */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* МОИ ДОПОЛНЕНИЯ */
/* заполняющаяся динамическая кнопка */
.button_my {
  background-color: transparent;
  border-color: transparent;
  
  text-decoration: none !important;
  display: inline-block;
	padding: 6px 12px;
	border-radius: 10rem;
	color: #fff;
  font-size: 1.8rem;
  font-weight: 350;
	// letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background-color: #27ae60;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		// background-color: darken(#27ae60, 15%);
		transition: all .7s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
  // зеленая
  &.green{
    &.wider{
      width: 100%;
    }
    &.tighter{
      @media (max-width: 600px){
        width: 49%;
      }
      width: 30%;
    }
    margin-top: -12px;
    &:after {
		  background-color:#27ae60;
		}
	  &:before {
			background-color: darken(#27ae60, 15%);
		}

	}
  // синяя
  &.blue{
    &.wider{
      width: 100%;
    }
    &.tighter{
      @media (max-width: 600px){
        width: 49%;
      }
      width: 30%;
    }
    &:after {
		  background-color: #347ab7;
		}
	  &:before {
			background-color: darken(#347ab7, 15%);
		}
	}
}


/* две скользящие кнопки (сейчас не используются) */
.slider_button{
.group {
  a:hover {
    color: #ffffff; /* Цвет посещённой ссылки */
  } 
  width: 340px;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  
}
.one {
  font-size: 2rem;
  font-weight: 450;
  
  float: left;
  line-height: 40px;
  color: white;
  text-decoration: none !important;
  transition: 1.0s;
}
.two {
  font-size: 2rem;
  font-weight: 450;

  float: right;
  text-decoration: none !important;
  line-height: 40px;
  color: #000000;
}
.bg {
  background-color: #347ab7;
  
  height: 60px;
  width: 205px;
  position: absolute;
  top: 0;
  margin-left: -260px;
  z-index: -1;
  transition: 1.0s;
  border-radius: 30px;
  
}

span:hover + .bg {
  
  width: 200px;
  margin-left: -70px;
  background: #27ae60;
}

.two > span:hover {
  
  color: white;
}

.two:hover ~ .one {
  
  color:rgb(0, 0, 0);
}
span {
  
  padding: 10px 0;
  transition: 1.0s;
}

}


/* Расставляет элементы в один ряд */
.inliner{
  display: inline;
}


/* Прозрачная кнопка */
.btn-primary-1{
  background-color: transparent;
  color: transparent;
  text-decoration: none !important;
}